@import "bootstrap/mixins";
@import "bootstrap/variables";

$blog-color: #4B89D6;
$projects-color: #E01F39;
$projects-color-lighten: lighten($projects-color, 10%);
$projects-color-soft: lighten($projects-color, 40%);
$projects-color-darken: darken($projects-color, 10%);
$cv-color: #3CE01F;
$white: #fff;
$off-black: #333;
$margin-size: 28px;

$gareth-color: #232323;
$gareth-color-light: lighten($gareth-color, 10%);
$gareth-color-dark: darken($gareth-color, 10%);
$gareth-color-darker: darken($gareth-color, 20%);

$bitk-color: #4051B3;
$bitk-color-light: lighten($bitk-color, 10%);
$bitk-color-dark: darken($bitk-color, 10%);
$bitk-color-darker: darken($bitk-color, 20%);

// Utilities
html {
  overflow-y: scroll;
}

// Set font
body 
{
  font-family: 'Raleway', sans-serif;
}

// Remove default list styling
ul {
    padding: 0;
    list-style-type: none;
    margin-bottom:0px;
}

// Remove default anchor styling
a, a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.buffer-show-xs
{
  
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  height:50%;
  
}

.vertically-centered-show-xs {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.no-padding 
{
  padding:0px;
  margin:0px;
}

.margin-top {
  margin-top:$margin-size;
}

.margin-bottom {
  margin-bottom:$margin-size;
}

// Remove border radius from all buttons
.btn {
  border-radius:0px;
}

// Thumbnail Zoom CSS
.mfp-with-zoom .mfp-container, 
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

// Container for vertical centering
.vertically-centered-container
{
  // Disable on small screens
  @media (min-width: $screen-sm) {
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  height:50%;
  }
}

// Vertically centered item
.vertically-centered {
  // Disable on small screen
  @media (min-width: $screen-sm) {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  }
}

// Homepage

// Blog button
.btn-blog {
   @include button-variant($blog-color, $white, $blog-color);
   &:hover {
    background-color: $blog-color;
    border-color: $blog-color;
    color: $white;
   }
}

// CV button
.btn-cv {
   @include button-variant($cv-color, $white, $cv-color);
    &:hover {
    background-color: $cv-color;
    border-color: $cv-color;
    color: $white;
   }
}

// Projects button
.btn-projects {
   @include button-variant($projects-color, $white, $projects-color);
    &:hover {
    background-color: $projects-color;
    border-color: $projects-color;
    color: $white;
   }
}


// Projects Overview

.projects-overview-title {
  margin-bottom: $margin-size;
}

.project-overview-header {
  padding:10px;
  color:$white;
  &.project-overview-header-bitk {
    background-color: lighten($bitk-color, 10%);
  }
  &.project-overview-header-gareth {
    background-color: lighten($gareth-color, 10%);
  }
}

.project-overview-description {
  padding:10px;
  color:$white;
  &.project-overview-description-bitk {
    background-color: $bitk-color;
  }
  &.project-overview-description-gareth {
    background-color: $gareth-color;
  }
}

.project-overview-link {
  padding:10px;
  color:$white;
  width:100%;
  display:block;

  &:hover, :focus {
     color:$white;
  }
  
  &.project-overview-link-bitk {
    background-color: $bitk-color-dark;
    &:hover, :focus {
     background-color: $bitk-color-darker;
    }
  }

  &.project-overview-link-gareth {
    background-color: $gareth-color-dark;
    &:hover, :focus {
     background-color: $gareth-color-darker;
    }
  }
}

// Full Project View

.project-title {
  padding:10px;
  color:$white;
  &.project-title-bitk {
    background-color: $bitk-color;
  }
  &.project-title-gareth {
    background-color: $gareth-color;
  }
}

.project-info {
  color:$white;
  &.project-info-bitk {
    background-color: $bitk-color-dark;
  }
  &.project-info-gareth {
    background-color: $gareth-color-dark;
  }
}

.project-info-item {
 padding:10px;
 color: $white;
}

.project-info-item-link-bitk:hover {
  .col-md-6 & {
    background-color:$bitk-color-darker;
  }
}
.project-info-item-link-gareth:hover {
  .col-md-6 & {
    background-color:$gareth-color-darker;
  }
}

.project-description {
  padding:10px;
  color:$white;
  &.project-description-bitk {
    background-color:$bitk-color-light;
  }
  &.project-description-gareth {
    background-color:$gareth-color-light;
  }
}

.section-header {
  padding:10px;
  color:$white;
  &.section-header-bitk {
    background-color: $bitk-color;
  }
  &.section-header-gareth {
    background-color: $gareth-color;
  }
}

li.section-list-item {
  padding:6px;
  color:$white;
  &.section-list-item-bitk {
    background-color: $bitk-color-light;
    &:not(:last-of-type) {
      border-bottom: 2px solid $bitk-color;
    }
  }
  &.section-list-item-gareth {
    background-color: $gareth-color-light;
    &:not(:last-of-type) {
      border-bottom: 2px solid $gareth-color;
    }
  }
}

.section-text {
  padding:10px;
  color:$white;
  &.section-text-bitk {
    background-color: $bitk-color-light;
  }
  &.section-text-gareth {
    background-color: $gareth-color-light;
  }
}

.section-gallery {
  //padding:10px;
  padding-bottom:($margin-size - 10px);
  margin-left:-10px;
  margin-right:-10px;
  color:$white;
  /*&.section-gallery-bitk {
    background-color: $bitk-color-light;
  }*/
}













