@import "bootstrap/mixins";
$blog-color: #4B89D6;
$projects-color: #E01F39;
$cv-color: #3CE01F;
$white: #fff;
$off-black: #333;

.btn-blog {
   @include button-variant($blog-color, $white, $blog-color);
   &:hover {
    background-color: $blog-color;
    border-color: $blog-color;
    color: $white;
   }
}
.btn-cv {
   @include button-variant($cv-color, $white, $cv-color);
    &:hover {
    background-color: $cv-color;
    border-color: $cv-color;
    color: $white;
   }
}
.btn-projects {
   @include button-variant($projects-color, $white, $projects-color);
    &:hover {
    background-color: $projects-color;
    border-color: $projects-color;
    color: $white;
   }
}


.buffer
{
  width: 50%;
  height: 50%;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
}

.vertically-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.no-padding 
{
  padding:0px;
  margin:0px;
}

.navigation {
  margin-top:15px;
}

body 
{
  font-family: 'Raleway', sans-serif;
}

.btn {
  border-radius:0px;
}

.masthead {
  padding:10px;
  //background-color: $cv-color;
  border:1px solid $off-black;
  color:$off-black;
}




