@import "bootstrap/mixins";
@import "bootstrap/variables";
$blog-color: #4B89D6;
$projects-color: #E01F39;
$projects-color-lighten: lighten($projects-color, 10%);
$projects-color-soft: lighten($projects-color, 40%);
$projects-color-darken: darken($projects-color, 10%);
$cv-color: #3CE01F;
$white: #fff;
$off-black: #333;
$margin-size: 28px;
$gareth-color: #232323;
$bitk-color: #4051B3;

.btn-blog {
   @include button-variant($blog-color, $white, $blog-color);
   &:hover {
    background-color: $blog-color;
    border-color: $blog-color;
    color: $white;
   }
}
.btn-cv {
   @include button-variant($cv-color, $white, $cv-color);
    &:hover {
    background-color: $cv-color;
    border-color: $cv-color;
    color: $white;
   }
}
.btn-projects {
   @include button-variant($projects-color, $white, $projects-color);
    &:hover {
    background-color: $projects-color;
    border-color: $projects-color;
    color: $white;
   }
}

.buffer
{
  @media (min-width: $screen-sm) {
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  height:50%;
  }
}

.vertically-centered {
  @media (min-width: $screen-sm) {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
}

.project-gareth {
  padding:10px;
  color:$white;
  background-color: $gareth-color;
}

.project-gareth-header {
  padding:10px;
  color:$white;
  background-color: lighten($gareth-color, 10%);
}

.project-bitk, .project-bitk-tech-header {
  padding:10px;
  color:$white;
  background-color: $bitk-color;
}

.project-bitk-header {
  padding:10px;
  color:$white;
  background-color: lighten($bitk-color, 10%);
}

.project-bitk-tech-item {
  padding:6px;
  color:$white;
  background-color: lighten($bitk-color, 10%);

   &:not(:last-of-type) {
    border-bottom: 2px solid $bitk-color;
   }
}

.project-bitk-role-text {
  padding:10px;
  color:$white;
  background-color: lighten($bitk-color, 10%);

  
}

.project-bitk-link {
  padding:10px;
  color:$white;
  background-color: darken($bitk-color, 10%);
  width:100%;
  display:block;
  &:hover {
     color:$white;
     background-color: darken($bitk-color, 20%);
  }
}

.project-gareth-link {
  padding:10px;
  color:$white;
  background-color: darken($gareth-color, 10%);
  width:100%;
  display:block;
  &:hover {
     color:$white;
     background-color: darken($gareth-color, 20%);
  }
}

a, a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.tech-bitk {
  padding:10px;
  color:$white;
  background-color: $bitk-color;
}


.buffer-show-xs
{
  
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  height:50%;
  
}

.bottom-margin {
  margin-bottom:$margin-size;
}

.vertically-centered-show-xs {
  
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

.top-screen-padding {
  margin-top:$margin-size;
}

.no-padding 
{
  padding:0px;
  margin:0px;
}

.navigation {
  margin-top:$margin-size;
}

body 
{
  font-family: 'Raleway', sans-serif;
}

.btn {
  border-radius:0px;
}

.masthead {
  padding:10px;
  border:1px solid $off-black;
  color:$off-black;
}

.project-info-bar {
  background-color: darken($bitk-color, 10%);
  color:$white;
}



.project-info-item {
 padding:10px;
}
.project-info-item-link:hover {
  .col-md-6 & {
    background-color:darken($bitk-color, 20%);
    color: $white;
  }
   background-color:darken($bitk-color, 20%);
    color: $white;
}




